<div class="container-fluid">
    <div class="row">
        <div style="height: 91vh; width: fit-content;" class="col-lg-2 bg-info d-flex flex-column p-3">
    <a style="text-decoration: none; color: white; " class="fw-bolder mb-3 ms-2" routerLink="/dashboard">HOME</a>
    <a style="text-decoration: none; color: white; " class="fw-bolder ms-2" routerLink="/users"> USERS</a>
    <button class="btn  mt-auto text-light fw-bolder">Logout</button>
        </div>
        <div class="col-lg-10">
    
        </div>
    </div>
</div>
